[workspace]
members = ["cargo:crates/air"]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.28.0"
# CI backends to support
ci = "github"
# Whether dist should create a Github Release or use an existing draft
create-release = true
# The installers to generate for each app
installers = ["shell", "powershell"]
# The archive format to use for windows builds (defaults .zip)
windows-archive = ".zip"
# The archive format to use for non-windows builds (defaults .tar.xz)
unix-archive = ".tar.gz"
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
  # Mac
  "x86_64-apple-darwin",
  "aarch64-apple-darwin",
  # Windows
  "x86_64-pc-windows-msvc",
  "aarch64-pc-windows-msvc",
  # Linux
  "x86_64-unknown-linux-gnu",
  "aarch64-unknown-linux-gnu",
]
# Tell dist not to build the binaries
build-local-artifacts = false
# Local artifacts jobs to run in CI
local-artifacts-jobs = ["./build"]
# Whether to auto-include files like READMEs, LICENSEs, and CHANGELOGs (default true)
auto-includes = false
# Which actions to run on pull requests (use "upload" to force a build in CI for testing)
pr-run-mode = "skip"
# Whether CI should trigger releases with dispatches instead of tag pushes
dispatch-releases = true
# Path that installers should place binaries in
install-path = ["$XDG_BIN_HOME/", "$XDG_DATA_HOME/../bin", "~/.local/bin"]
# Whether to install an updater program
install-updater = false

[dist.github-custom-runners]
# Use an `ubuntu-latest` runner for all "global" steps of the release process,
# rather than cargo-dist's default of using the oldest possible Linux runner.
# This includes `plan`, `build-global-artifacts`, `host`, and `announce`, none
# of which actually rely on the specific Linux version.
global = "ubuntu-latest"

[[dist.extra-artifacts]]
# We always keep `air.schema.json` up to date, so there is no command required to build it,
# instead we just provide a dummy `echo` call
artifacts = ["artifacts/air.schema.json"]
build = ["echo"]
