.vscode/**
.vscode-test/**
.zed/**
out/**
node_modules/**
src/**
.gitignore
.prettierrc
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
