name: "Build"

on:
  workflow_call:
    # Passed via dist, but not used
    inputs:
      plan:
        required: true
        type: string

jobs:
  build_macos:
    name: Build mac
    uses: ./.github/workflows/build-mac.yml
    secrets: inherit

  build_windows:
    name: Build windows
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit

  build_linux:
    name: Build linux
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit

  build_wheels:
    name: Build wheels
    uses: ./.github/workflows/build-wheels.yml
    secrets: inherit
    needs: [build_macos, build_windows, build_linux]
